.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  .background {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    opacity: 0.3;
  }
  .heading {
    position: fixed;
    width: 95%;
    font-size: xx-large;
    top: 5%;
    line-height:30px;
  }
  .hints {
    position: fixed;
    width: 10%;
    height: 10%;
    top: 1.5%;
    left: 1.5%;
    font-size: small;
  }
  .compassloc {
    width: 80%;
    left: 10%;
    top: 15%;
    position: fixed;
  }
  .imageloc {
    width: 80%;
    left: 10%;
    top: 20%;
    position: fixed;
  }
  .distance {
    position: fixed;
    width: 100%;
    font-size: x-large;
    bottom: 32%;
    line-height:22px;
  }
  .answer {
    position: fixed;
    width: 90%;
    left: 5%;
    font-size: larger;
    bottom: 5%;
    line-height:20px;
  }
  .errorlink {
    position: fixed;
    width: 100%;
    font-size: xx-large;
    top: 45%;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}